<% discount_percent = number_to_percentage(@cart.discount[:rate] * 100, precision: 0) %>

<p id="notice"><%= notice %></p>

<h1>Shopping Cart</h1>

<table style="border-collapse: collapse;">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.quantity %></td>
        <td><%= number_to_currency line_item.product.price %></td>
      </tr>
    <% end %>
    <tr></tr>
  </tbody>
  <tfoot>
    <tr style="border-top: 1px solid black;">
      <td>&nbsp</td>
      <td class="text-right">Subtotal</td>
      <td><%= number_to_currency(@cart.subtotal) %></td>
    </tr>
    <tr>
      <td>&nbsp</td>
      <td class="text-right">Discount</td>
      <td>
        <%= number_to_currency(@cart.subtotal - @cart.total) %>
      </td>
    </tr>
    <tr>
      <td>&nbsp</td>
      <td class="text-right">Total</td>
      <td><%= number_to_currency(@cart.total) %></td>
    </tr>
    <% if @cart.discount[:rate] > 0 %>
      <tr>
        <td colspan=3>
          <%= "Discount applied: #{@cart.discount[:message]}" %>
        </td>
      </tr>
    <% end %>
  </tfoot>
</table>

<br>
<%= link_to 'View products', root_path %>
